$title-font:'Noto Sans TC',
'Open Sans',
sans-serif,
'微軟正黑體';
$styled-font:'Playfair Display',
serif;
$base-font:'Noto Sans TC',
'Open Sans',
sans-serif,
'微軟正黑體';
$primary-color:#4683df;
$danger-color:#c9302c;
$success-color:#5cb85c;
$warning-color:#f0ad4e;
$default-color:#f7f7f7;
$dark-color:#333;
$info-color:#5bc0de;